
/*        Screen from 1024px and above    */

@media only screen and (max-width: 1200px) {
    .beneath h2 {
        position: relative;
        bottom: -6.3rem;
    }

    .row { padding: 0 4%; }
    .nav-brand {
        top: 6%;
        font-size: 60%;
    }
    .nav-items {
        margin-top: 7px;
        margin-right: 25px;
    }

    .about .about-box { height: 520px;}

    .dish-stars {margin: 0 10px 0 28px ;}
    .dish-stars .btn { margin-left: 30px; }

    .image {
        height: 475px;
    }
    .grey-box,
    .grey-image-box, 
    .green-box {
        height: 142px;
        width: 85%;
    }
    .date,
    .grey-box p,
    .green-box p {
        bottom: 9%;
    }
    .grey-image-box .date {bottom: 9%;}
    .grey-image-box p { bottom: 9%;}

    .social .col {width: 26%;}
    .social .btn {
        position: absolute;
        top: -2%;
        right: 10%;
        padding: 4px 6px;
    }
    .social h4 {
        margin-top: 10px;
        font-size: 65%;
    }
    
    .social-icon {margin-right: 10px;}    
    .box-grey p { padding: 0 0 20px;}
}

/*        Screen from 768px to 1023px    */

@media only screen and (max-width: 1023px) {
    body { font-size: 1rem; }
    section{ padding: 30px; }
    .row{ padding: 0 4%; }
    .beneath h2 {
        position: relative;
        bottom: -5.9rem;
    }
    .bg-subtext { width: 60%;}
    .bg-heading { font-size: 2.5rem; }
    

    /* .nav-items {
        width: 30%;
    } */
    .nav-brand {
        position: absolute;
        top: 4.5%;
        left: 10%;
        font-size: 70%;
    }

    .about .about-box {
        width: 70%;
        margin-left: 15%;
        height: 480px;
    }
    .about-box p {
        font-size: 70%;
        width: 80%;
        line-height: 170%;
    }

    .box-grey,
    .box-green {
        height: 185px;
        margin-right: 30px;
        width: 60%;
    }
    .box-green p { font-size: 75%;}
    .box-grey { font-size: 115%;}
    /* .box-grey h4 { font-size: 80%;} */

    .how-it-works .col {
        width: 30%;
        height: 180px;
        margin-left: 15%
    }

    .box-grey p, h4 {
        line-height: 130%;
        width: 80%;
        margin: 15px auto 0;
    }

    .dishes .col {
        width: 30%;
        margin-left: 15%;
    }
    .box h3 { font-size: 110%;}
    .box p { font-size: 70%;}
    .together p { font-size: 65%; }
    .box { width: 90%; }
    .dishes .feat-icon,
    .icon { padding-right: 1px;}

    .chef-dishes {
        width: 32%;
    }
    /* .chef .chef-dish-img {
        width: 120px;
    }
    .chef .chef-dish-imgs {
        width: 48px !important;
        margin: 0 3px;
    } */

    .btn-small:link,
    .btn-small:visited,
    .btn-transparent:link,
    .btn-transparent:visited {
        padding: 5px 5px;
        margin-left: 40px;
        font-size: 60%;
    }
 
    .grey-box,
    .grey-image-box,
    .green-box {
        width: 90%;
    }
    .image h5,
    .grey-box h5,
    .grey-image-box h5,
    .green-box h5 { font-size: 70%;}
    .image h5 {
        margin-left: 40%;
        width: 21%;
    }
    .recipe p {
        margin-top: 60px;
    }
    .image h3 { width: 80%;}
    .image { height: 470px;}
    .date,
    .grey-box p,
    .green-box p {
        font-size: 70%;
        bottom: 10%;
    }
    .grey-image-box .date {bottom: 10%;}
    .grey-image-box p { bottom: 10%;}

    .social .col {width: 30%;}
    .social-icon {
        height: 30px;
        width: 30px;
        padding: 7px;
        font-size: 100%
    }
    .social .box-grey {
        position: relative;
    }
    .social .btn {
        position: absolute;
        top: -1%;
        right: 11%;
        font-size: 50%;
    }
    .social .box-grey,
    .social .box-green {
        height: 290px;
        width: 25%;
        margin-left: 5%;
        margin-bottom: 33px;
    }
    .insta-photo {
        width: 100%;
        margin: 0;
    }
    .insta-photo img {
        transform: none;
    }
    .social h5 {
        width: 80%;
        margin-left: 10%;
        font-size: 75%;
    }
    hr { margin: 8px 0 20px;}
    .social p {
        padding: 10px 0;
        font-size: 60%;
    }
    .social h4 { font-size: 55%; }

}

/*        Screen from 481px to 767px    */

@media only screen and (max-width: 768px) {

    .col {width: 90%; }
    section{ padding: 20px; }

    a[title] {
        color: #fff;
    }

    .bg-text::before { display: none;}

    .nav-brand {
        position: absolute;
        top: 7%;
        left: 7%;
    }

    .bg-text {
        height: 100vh;
        text-align: center;
    }
    .bg-heading { 
        letter-spacing: 0.1em;
        font-size: 1.8rem; 
        width: 73%;
        margin-left: 15%;
    }
    .bg-subtext {
        width: 70%;
        font-size: 80%;
    } 

    #menu {
        margin: 40px 660px 20px;
    }
    
    .bar {
        display: block;
    }

    /* .nav-items li a {
        color: #fff;
        text-decoration: none;
    } */

    .menu-bg, #menu-bar {
        top: 0;
        left: 0;
        position: absolute;
    } 
    
    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0; 
        margin: 30px 660px 20px;
        background: radial-gradient(circle, #34c759, #10ac37);
        border-radius: 50%;
        transition: 0.3s ease;
    }
    
    #menu-bar {
        z-index: 2;
    }

    .nav-items li {
        list-style: none;
        padding: 16px 0;
    }

    .nav-items li:hover {
        font-weight: bold;
        color: #fff;
    }

    .nav-items {
        padding: 0;
        margin: 0 655px;
        transition: 0.3s ease;
        display: none;
    }

    .change-bg {
        width: 550px;
        height: 540px;
        transform: translate(-32%, -30%);
    }

    .change .bar {
        background-color: white;
    }

    .change #bar1 {
        transform: translateY(1px) rotateZ(-45deg);
    }

    .change #bar3 {
        transform: translateY(-7px) rotate(45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change {
        display: block;
    } 

    .btn-green:link,
    .btn-green:visited {
        padding: 12px 22px;
        margin: 35px 5px 0 0;
    }

    .features {
        position: absolute;
        top: 63%;
        left: 27%;
        right: 25%;
    }
    .feat-icon { font-size: 100%; }
    .features h3 {font-size: 70%;}
    .features p {padding-bottom: 15px;}
    .features p,
    .chef p { font-size: 60%; }
    
    .about .about-box {
        width: 80%;
        margin: auto;
        height: auto;
    }
    .about-box p {
        font-size: 90%;
        width: 90%;
        line-height: 150%;
    }
    .about img {
        width: 70%;
        margin-left: 15%;
        padding-bottom: 20px;
    }

    .how-it-works .col {
        width: 45%;
        height: 180px;
        margin-left: 27%
    }

    .dishes .col,
    .social .col {
        width: 60%;
        margin-left: 20%;
    }
    .box { 
        margin-bottom: 20px;
        width: 90%;
        margin-left: 5%;
    }
    .box h3 { font-size: 150%; }
    .box p { font-size: 90%;}
    .box .btn {
        margin-left: 30%;
        padding: 15px 15px;
        font-size: 80%;
    }
    .dish-stars {
        margin: 0 10px 10px 30px;
    }

    .box-grey,
    .box-green {
        height: 200px;
        margin-right: 30px;
        width: 40%;
        margin-bottom: 30px;
    }

    .box-grey p,
    .box-green p {
        font-size: 70%;
    }

    .recipe img{ height: auto;}
    .image h5 {
        text-transform: uppercase;
        font-size: 60%;
        margin-left: 41.5%;
        width: 17%;
    }
    
    .image h5 {
        width: 25%;
    }
    
    .image h3 {
        font-size: 110%;
        width: 70%;
        margin: 5% 15% 0;
        line-height: 160%;
    }
    
    .grey-box h5, 
    .green-box h5 {
        font-size: 60%;
        width: 20%;
    }
    .grey-box h3, 
    .green-box h3 {
        font-size: 80%;
        line-height: 150%;
        font-weight: 500;
        width: 80%;
        margin-left: 10%;
    }  
    .grey-box h5 span, 
    .green-box h5 span {
        text-transform: none;
        margin-left: 10px;
    }

    .social .col {
        width: 70%;
        margin-left: 15%;
    }
    .social p {font-size: 70%;}
    .social h5 {font-size: 75%;}
    .social h4 {font-size: 55%;}
    
    .insta-photo img {
        transform: scale(1);
    }

    .brand { font-size: 60%;}
}

/*        Small screen from 0 to 480px    */
@media only screen and (max-width: 480px) {

    section{ padding: 10px;}
    .head-small {
        font-size: 110%;
    }
    .beneath h2 {
        font-size: 250%;
        position: relative;
        bottom: -5.1rem;
    }
    .nav-brand {
        position: absolute;
        top: 5.5%;
        left: 7%;
        font-size: 70%;
    }
    #menu { margin: 30px 420px 20px;}
    .menu-bg, #menu-bar {
        top: 0;
        left: 0;
        position: absolute;
    } 
    
    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0; 
        margin: 30px 660px 20px;
        background: radial-gradient(circle, #34c759, #10ac37);
        border-radius: 50%;
        transition: 0.3s ease;
    }
    
    #menu-bar {
        z-index: 2;
    }

    .nav-items li {
        list-style: none;
        padding: 16px 0;
    }

    .nav-items li:hover {
        font-weight: bold;
        color: #fff;
    }

    .nav-items {
        padding: 0;
        margin: 0 655px;
        transition: 0.3s ease;
        display: none;
    }

    .change-bg {
        width: 550px;
        height: 540px;
        transform: translate(-32%, -30%);
    }

    .change .bar {
        background-color: white;
    }

    .change #bar1 {
        transform: translateY(1px) rotateZ(-45deg);
    }

    .change #bar3 {
        transform: translateY(-7px) rotate(45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change {
        display: block;
    } 

    .bg-heading { 
        letter-spacing: 0.1em;
        font-size: 1.6rem; 
        width: 80%;
        margin-left: 10%;
    }
    .bg-subtext {
        width: 80%;
        font-size: 70%;
        padding-top: 5px;
    }
    
    .bg-text .btn-green { margin-top: 30px;}
    .features {
        position: absolute;
        top: 59%;
    }
    .features p,
    .chef p {
        font-size: 70%;
    }
    .feat-icon { margin: 25px 0 0;}
    .about h2 { margin-top: 70px;}

    .how-it-works .box-green { height: auto;}
    .box-green p { margin: 10px 20px 15px;}

    .box .btn {
        margin: 15px 0 20px 5px;
        padding: 7px 6px;
    }
    .dish-stars {
        margin: 0 15px 10px 26px;
    }
    .dishes h3 { font-size: 120%;}
    .dishes p { font-size: 70%}
    .together p { font-size: 60%}

    .chef .col {
        width: 60%;
        margin-left: 20%;
        margin-bottom: 30px;
    }
    .chef-img { position: relative;}
    .chef-text {
        display: inline-block;
        position: absolute;
        top: 28%;
        left: 31%;
    }

    .recipe .col:first-child {margin-left: 20px;}
    .image { 
        height: 397px;
    }
    .image h5 {margin: 25px auto;}
    .image h3 {margin-top: 70px;}
    .recipe p {
        text-align: center;
        margin-top: 50px;
    }
    .grey-box h3,
    .grey-image-box h3,
    .green-box h3 {
        padding: 10px 0;
        width: 95%;
        font-size: 85%;
        margin-left: 15px;
    }
    .grey-box h5,
    .grey-image-box h5,
    .green-box h5 {
        margin: 10px 10px 0;
        width: 17%;
    }
    .grey-box,
    .grey-image-box,
    .green-box {position: relative;}
    .date,
    .grey-image-box p,
    .grey-box p,
    .green-box p {
        font-size: 60%;
        position: absolute;
        bottom: 20%;
        left: 25%;
    }
    .grey-box p,
    .grey-image-box p,
    .green-box p {
        font-size: 60%;
        text-align: right;
        margin: 0 10px;
        position: absolute;
        /* bottom: 5%;  */
        right: 5%;
    }
    .grey-image-box p {bottom: 10%;}




}