* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*          Global Classes           */
html,
body {
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

h2{ 
    text-transform: uppercase;
    font-size: 300%;
    letter-spacing: .15em;
    text-align: center;
    z-index: 0;
    font-weight: 700;
}

h2:after {
    display: block;
    height: 2px;
    background: #34c759;
    content: " ";
    width: 60px;
    margin: 0 auto;
}

h3 {
    font-size: 65%;
}

p {
    font-size: 70%;
}

section {
    padding: 50px 0;
}

.head-small {
    font-size: 160%;
    text-transform: capitalize;
    padding: 50px;
    letter-spacing: .1em;
    text-align: center;
    font-weight: 300;
    color: #fff;
    opacity: 0.7;
}

.beneath h2 {
    color: #413e3e;
    font-size: 360%;
    opacity: 0.5;
    position: relative;
    bottom: -6.8rem;
    right: -0.2rem;
}

.social-icon,
.about-icon1,
.about-icon2 {
    color: #737373;
    border: 1px solid #737373;
    font-size: 120%;
    border-radius: 50%;
    text-align: center;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 15px 25px;
    font-weight: 700;
    color: #1a1a1a;
    text-decoration: none;
    font-size: 70%;
    border-radius: 43px;
    transition: background 1s, border 1s, color 1s;
}

.btn-green:link,
.btn-green:visited {
    background: #34c759;
    border: 1px solid #34c759;
    letter-spacing: 0.2em;
    margin-top: 30px;
}

.btn-green:hover,
.btn-green:active {
    background: #10ac37;
}

.btn-small:link,
.btn-small:visited,
.btn-transparent:link, 
.btn-transparent:visited {
    padding: 9px 12px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.btn-transparent:link, 
.btn-transparent:visited {
    background: #262626;
    border: 2px solid #303030;
    color: #fff;
}

.btn-transparent:hover, 
.btn-transparent:active {
    background: #34c759;
    color: #000;
    border: 1px solid #34c759;
    transition: color 0.1s;
}

/*         Header Section               */
header {
    background: url(../images/bg-img.png);
    background-position: center;
    height: 100vh;
    color: #fff;
}

.bg-text::before {
    display: block;
    height: 2px;
    content: " ";
    width: 100%;
    background: #fff;
    opacity: 0.1;
    margin-top: 50px;
}

.bg-text {
    height: 100vh;
    text-align: center;
}

.bg-heading {
    text-transform: capitalize;
    letter-spacing: 0.2em;
    font-size: 3rem;
    width: 70%;
    padding-top: 8%;
    margin-left: 15%;
    font-weight: 600;
}

.bg-subtext {
    width: 50%;
    padding: 0px 0;
    margin: 0 auto;
    line-height: 150%;
    letter-spacing: 0.1px;
    padding-top: 8px;
    font-size: 80%;
    font-weight: 200;
}

.nav-items {
    float: right;
    list-style: none;
    margin-top: 8px;
    margin-right: 25px;
}

.nav-items li {
    display: inline-block;
    margin-left: 30px;
}

.nav-items li a:link,
.nav-items li a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 80%;
    transition: font-weight 0.7s;
}

.nav-items li a:hover,
.nav-items li a:active {
    font-weight: bold;
}

a[title] {
    color: #34c759; 
}

.nav-brand,
.brand {
    font-size: 60%;
    text-transform: uppercase;
    color: #34c759;
    letter-spacing: 0.2em;
    font-weight: 600;
}

.nav-brand {
    position: absolute;
    top: 6%;
    left: 10%;
}

#menu {
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 100%;
    display: none;
    border-radius: 5px;
    background-color: #34c759;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

/*            Features Section                */

.features {
    position: absolute;
    top: 78%;
    left: 12%;
    right: 12%;
    text-align: center;
    line-height: 120%;
}

.features p,
.chef p {
    font-size: 60%;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.6);
}

.feat-icon {
    font-size: 90%;
    text-align: center;
    color: #fff;
    opacity: 0.6;
    padding-right: 5px;
}

/*           About Section             */

.about h2 {
    color: #fff;
}

.about .about-box {
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 60%;
    opacity: 0.8;
    margin: auto;
    height: 560px;
    position: relative;
}

.about-icon1,
.about-icon2 {
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 4px;
    position: absolute;
    bottom: 31%;
}

.about-icon1 {
    left: 2%;
}

.about-icon2 {
    right: 3%;
}

.about-box p {
    font-size: 80%;
    width: 70%;
    font-weight: 200;
    text-align: center;
    margin: auto;
    line-height: 170%;
    padding-bottom: 50px; 
}

.about img {
    width: 60%;
    margin-left: 20%;
}

/*           How it works           */

.box-grey,
.box-green {
    height: 200px;
    opacity: 0.9;
    border-radius: 6px;
    margin-right: 35px;
    width: 20%;
}

.box-grey p,
.box-green p, h4 {
    line-height: 150%;
    width: 70%;
    margin: 20px auto 0;
}

.green {
    font-size: 80%;
}

.box-grey h4 {
    font-size: 80%;
}

.box-grey {
    background: #252525;
}

.box-green {
    background: #34c759;
    color: #191919;
}

h4:after {
    display: block;
    height: 2px;
    background: #34c759;
    content: " ";
    width: 50px;
    margin-top: 10px;
}

.green:after {
    background: #191919;
}


/*            Dishes section                  */
.icon {
    color: #F9AD3D;
    padding-right: 3px;
}

.dishes .feat-icon {
    padding-right: 3px;
}

.dish-stars {
    margin: 0 10px 0 30px;
}

.dishes img {
    width: 100%;
}

.icon,
.btn-small:link,
.btn-small:visited,
.btn-transparent:link,
.btn-transparent:visited {
    margin: 30px 0;
}

.dish-stars .btn { margin-left: 50px; }

.box {
    background: #262626;
    border-radius: 6px;
    opacity: 0.8;
    width: 30%;
    margin-right: 19px;
    position: relative;
}

.dishes-icon {
    opacity: 0.6;
    font-size: 90%;
    height: 25px;
    width: 25px;
    padding: 0px;
    position: absolute;
    right: 4%;
    top: 3%;
}

.box span {
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 80%
}

.box h3 {
    width: 80%;
    margin-left: 10%;
    font-size: 100%;
    font-weight: 500;
}

.box p {
    width: 80%;
    margin-left: 10%;
    line-height: 140%;
    font-weight: 400;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.box .together {
    margin-bottom: 15px;
}

/*        Chefs section       */

.chef h5 {
    font-size: 80%;

}

.chef small {
    font-size: 60%;
}

/*               Recipe Section                   */

.grey-box {
    background: #252525;
}

.green-box {
    background-color: #34c759;
    color: #1a1a1a;
}

.image {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/recipe-img1.png);
    background-size: cover;
    background-position: center;
    height: 460px;
    border-radius: 6px;
    margin: 17px 0 20px 15px;
    position: relative;
}

.image-icon,
.dishes-icon {
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    
}

.image-icon {
    opacity: 0.3;
    font-size: 120%;
    height: 35px;
    width: 35px;
    padding: 2px;
    position: absolute;
    right: 4%;
    top: 5%;
}

.grey-box,
.grey-image-box, 
.green-box {
    height: 135px;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 90%;
}

.grey-image-box {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/recipe-img2.png);
    background-size: cover;
    background-position: center;
} 

.image p {
    font-size: 90%;
}

.image h3 {
    font-size: 110%;
    width: 60%;
    margin: 5% 25% 0;
    line-height: 160%;
    margin-top: 70px;
}

.image h5 {margin: 30px auto;}

.recipe p {
    text-align: center;
    margin-top: 60px;
}

.grey-box h3,
.grey-image-box h3,
.green-box h3 {
    padding: 25px 0;
    width: 80%;
    font-size: 80%;
    margin-left: 10%;
    line-height: 140%;
}

.grey-box h5,
.grey-image-box h5,
.green-box h5 {
    margin: 0 10px;
    width: 17%;
}
.grey-box,
.grey-image-box,
.green-box {position: relative;}

.date,
.grey-box p,
.green-box p {
    font-size: 60%;
    position: absolute;
    bottom: 12%;
    left: 25%;
}

.grey-box p,
.green-box p {
    text-align: right;
    margin: 0 10px;
    position: absolute;
    right: 5%;
}

.grey-image-box .date {
    position: absolute;
    bottom: 12%;
    left: 25%;
}

.grey-image-box p {
    text-align: right;
    margin: 0 10px;
    position: absolute;
    bottom: 12%;
    right: 4%;
}

.image h5 {
    font-size: 60%;
    margin-left: 41.5%;
    width: 17%;
}

.image h5,
.grey-box h5,
.grey-image-box h5,
.green-box h5 {
    border-radius: 4px;
    font-size: 60%;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-align: center;
    text-transform: uppercase;
}

.image h5,
.grey-box h5,
.grey-image-box h5 {
    background-color: rgba(0, 0, 0, 0.7);
}

.green-box h5 {
    background-color: #000;
    color: #fff;
}

/*              Social Section              */

.social .box-grey,
.social .box-green {
    height: 290px;
    opacity: 0.9;
    border-radius: 6px;
    width: 27%;
    margin-left: 3%;
}

.instagram-showcase {
    list-style: none;
    width: 100%;
}

.instagram-showcase li {
    display: block;
    float: left;
    width: 33%;
}

.insta-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    opacity: 0.7;
}

.insta-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.insta-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

hr {
    height: 1px;
    width: 100%;
    background: #303030;
    margin: 2px 0 10px;
    opacity: 0.6;
}

.social .box-grey {
    position: relative;
}

.social .btn {
    position: absolute;
    top: -4%;
    right: 10%;
}

.social-icon {
    display: inline-block;
    font-size: 120%;
    margin-right: 20px;
    height: 30px;
    width: 30px;
    padding: 4px;
    text-align: center;
}

.social h5 {
    width: 70%;
    margin-left: 15%;
    font-size: 80%;
}

.box-grey p {
    padding: 2px 0 20px;
    font-size: 70%;
}

.social h4 {
    color: #34c759;
    font-size: 50%;
}

.social h4::after {
    display: none;
}


/*           Footer        */

footer,
.footer-text {
    background: #252525;
    opacity: 0.9;
}

footer {
    padding: 20px 0;
    margin-top: 100px;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    padding-top: 10px;
}

.footer-feat {
    text-align: center;
    line-height: 120%;
}

.brand::before {
    display: block;
    height: 2px;
    content: " ";
    width: 100%;
    background: #303030;
    margin-bottom: 30px;
}
